.GallerySection {
  padding: 2.5rem 1.875rem;
  margin: 5.625rem auto !important;
}

.GallerySection__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
  gap: 1rem;
}

.GallerySection__filters{ 
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
} 

.GallerySection__filters button { 
  font-size: 14px;
}

.GallerySection__filters button.active{ 
  background-color: var(--color-primary);
  color: var(--color-white);
}
