.TitleSection {
  color: #fff;
  text-align: center;
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.TitleSection::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: var(--color-secondary);
  margin: 0 auto;
  margin-top: 5px;
  transition: 1s ease-in-out;
}

@media (max-width: 575px) {
  .TitleSection {
    font-size: 26px;
  }
}
