.home {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100dvh;
  gap: 30px;
}

.home__image {
  animation-timing-function: ease-in-out;
  aspect-ratio: 1 / 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.textContent {
  max-width: 580px;
}

.textContent__title {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-top: 0px;
  font-family: var(--font-roboto);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-wrap: balance;
}

.textContent__title--color {
  color: var(--color-secondary);
}

.textContent__title--big {
  font-weight: 800;
  font-size: 3rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.textContent {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-top: 0px;
  font-family: var(--font-roboto);
  font-size: 4rem;
  font-weight: 500;
}

.textContent__description {
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.75;
}

.textContent__subtitle {
  font-size: 2rem;
  font-family: var(--font-montserrat);
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 1rem;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 767px) {
  .home__image {
    display: none;
  }

  .textContent__title {
    text-align: center;
    gap: 0.5rem;
  }
}
