.Card {
  width: auto;
  background-color: var(--background-card);
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 0.875rem 1.5rem;
  border-radius: var(--border-radius);
  color: #fff;
  backdrop-filter: blur(22px);
  cursor: initial;
  user-select: none;
}

.Card__content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.Card__img {
  width: 1.625rem;
  height: auto;
  filter: brightness(0.95);
  transition: 0.3s ease-in-out opacity;
}

.Card__title {
  font-family: var(--font-roboto);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.16s ease-in-out;
}

.Card:hover {
  transform: scale(1.05);
}

.Card:hover .Card__img {
  opacity: 1;
  filter: none;
}

.Card:hover .Card__title {
  color: var(--color-white);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
}
